@use "../../node_modules/bootstrap/scss/bootstrap.scss" as bootstrap;
@use './owfont-regular';
@use 'react-bootstrap-typeahead/css/Typeahead';

body {
  background: radial-gradient(circle at bottom, navy 0, black 100%);
  height: 100vh;
  overflow: hidden;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 2px solid bootstrap.$primary;
  background-color: bootstrap.$info;
}

.input:focus {
  border: none;
  border-bottom: 2px solid bootstrap.$primary;
  background-color: bootstrap.$info;
}

.suggests {
  border: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.suggests-hidden {
  border: none;
}
.blur {
  backdrop-filter: blur(5px);
}

.opaque {
  background-color: rgba(0, 0, 0, 0.3);
}

.description {
  @extend .text-uppercase; // namespace prefixes are not necessary on @extends
  font-size: 0.5rem;
}
