@use './owfont-regular';
@use 'react-bootstrap-typeahead/css/Typeahead';
@use './weather-icons.min';
@use './weather-icons-wind.min';
// @use 'react-geosuggest/module/geosuggest';

// bootstrap customization
$enable-responsive-font-sizes: true;
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: 0.8rem,
);

@import 'bootstrap/scss/bootstrap.scss';

// my variables
// $background: rgb(0, 92, 92);
$background: whitesmoke;
// $navBackground: #114f4f;
$navBackground: darkslategrey;
// $iconColour: rgb(159, 180, 180);
$iconColour: darkslategrey;
$fontColour: black;
// $fontColour: white;
$text-on-background: mintcream;
$icon-on-background: lightcyan;

$newcolour: $background;
.btn-primary {
  @include button-variant(
    $newcolour,
    darken($newcolour, 7.5%),
    darken($newcolour, 10%),
    lighten($newcolour, 5%),
    lighten($newcolour, 10%),
    darken($newcolour, 30%)
  );
}

.btn-outline-primary {
  @include button-outline-variant(
    $newcolour,
    #222222,
    lighten($newcolour, 5%),
    $newcolour
  );
}

body {
  @extend .fw-light;
  // background: radial-gradient(circle at bottom, navy 0, black 100%);
  background: $background;
  color: $fontColour;
  // height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
}

// .hide-scrollbar on mobile-size screens only
@media only screen and (max-width: 576px) {
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: $background;
  color: $fontColour;
}

.input {
  @extend .form-control;
  background-color: rgb(196, 196, 196);
}

.suggests {
  border: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 2px;
  color: grey;
  background-color: whitesmoke;
}

.suggests-hidden {
  display: none;
}

.blur {
  backdrop-filter: blur(5px);
}

.opaque {
  background-color: rgba(0, 0, 0, 0.3);
}

.description {
  @extend .text-uppercase; // namespace prefixes are not necessary on @extends
  font-size: 0.5rem;
}

header {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  @extend .fs-7;

  h3 {
    @extend .fw-light;
  }
}

.icon {
  color: $iconColour;
}

.icon-on-background {
  color: $icon-on-background;
}

.navbar-background {
  background: $navBackground;
}

.weather-img {
  // background-blend-mode: darken;
  overflow: hidden;
  border-radius: 10%;
  // border: 2px thin solid;
}

.text-on-background {
  color: $text-on-background;
}